:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --primary: red !important;
  $primary: red;
  --text-primary: pink !important;
}

body {
  /*background-color: #37384e;*/
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
}

.navbar-toggler {
  border: none;
}

.grid-item {
  padding: 1rem;
}