:root {
  --pink: #BF1D90;
  --light-pink: #E77FC9;
  --teal: #09B0B2;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: #000 !important;
}

a {
  text-decoration: none !important;
  color: var(--teal);
}

a:hover {
  color: teal;
}

.bg-nav {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}

.navbar-toggler {
  border: none;
}

/* index */
body.cover-page {
  background: url(../images/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}