:root {
  --pink: #BF1D90;
  --pink-light: #E77FC9;
  --pink-dark: #93166F;
  --teal: #09B0B2;
}

/* PDH Styles */
.text-pdh {
  color: var(--pink-dark);
}

/* Navbar */
.pdh-navbar {
  background-color: rgba(0, 0, 0, 0.0) !important;
}

.dropdown-item:focus, .dropdown-item:hover {
  color: #ffffff !important;
  background-color: var(--pink-dark);
}

/* Login Page */
.form-signin {
  width: 100%;
  max-width: 360px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin .form-control {
  padding: 10px;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-pdh {
  color: #fff;
  background-color: #93166F;
  border-color: #93166F;
}

.btn-pdh:hover {
  color: #fff;
  background-color: #BF1D90;
  border: 1px solid #dee2e6;
}

.page-link {
  color: #6c757d;
  background-color: black;
  border: 1px solid #373b3e;
}

.page-link:hover {
  color: white;
  background-color: var(--pink-dark);
  border: 1px solid #373b3e;
}

.table-pdh thead {
  background-color: #212529;
  border: 1px solid #373b3e;
}

.table-pdh {
  /*--bs-table-bg: black; */
  --bs-table-striped-bg: #212529;
  --bs-table-striped-color: #6c757d;
  --bs-table-active-bg: var(--pink-dark);
  --bs-table-active-color: white;
  --bs-table-hover-bg: var(--pink-dark);
  --bs-table-hover-color: white;
  color: #6c757d;
  border: 1px solid #373b3e;
}

.bg-dark {
  background-color: black !important;
  border-color: #373b3e !important;
}

.class-icon {
  height: 1.7rem;
  width: 1.7rem;
}

.stretched-link {
  color: inherit;
}

.stretched-link:hover {
  color: white;
}