:root {
  --pink: #BF1D90;
  --pink-light: #E77FC9;
  --pink-dark: #93166F;
  --pink-darkest: #670F4E;
  --teal: #09B0B2;
}

/* PDH Styles */
.text-pdh {
  color: var(--pink-dark);
}

/* Navbar */
.pdh-navbar {
  background-color: rgba(0, 0, 0, 0.0) !important;
}

.dropdown-item:focus, .dropdown-item:hover {
  color: #ffffff !important;
  background-color: var(--pink-dark);
}

/* Login Page */
.form-signin {
  width: 100%;
  max-width: 360px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin .form-control {
  padding: 10px;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-pdh {
  color: #fff;
  background-color: var(--pink-dark);
  border-color: var(--pink-dark);
}

.btn-pdh:hover {
  color: #fff;
  background-color: var(--pink-darkest);
  border-color: var(--pink-darkest);
}

.btn-pdh.focus, .btn-pdh:focus {
  box-shadow: 0 0 0 0.2rem rgb(147 22 111 / 50%);
}

/* Home page */
.home-page-img:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  display: block;
  background-image: url('../images/burning-crusade-sm.jpg');
  width: 100%;
  height: 100%;
  background-size: cover;
  filter: opacity(0.3) grayscale(60%) blur(2px);
}

.welcome-name {
  font-weight: 700;
}

.page-link {
  color: #6c757d;
  background-color: black;
  border: 1px solid #373b3e;
}

.page-link:hover {
  color: white;
  background-color: var(--pink-dark);
  border: 1px solid #373b3e;
}

.table-pdh thead {
  background-color: #212529;
  border: 1px solid #373b3e;
}

.table-pdh {
  /*--bs-table-bg: black; */
  --bs-table-striped-bg: #212529;
  --bs-table-striped-color: #6c757d;
  --bs-table-active-bg: var(--pink-dark);
  --bs-table-active-color: white;
  --bs-table-hover-bg: var(--pink-dark);
  --bs-table-hover-color: white;
  color: #6c757d;
  border: 1px solid #373b3e;
}

.bg-black {
  background-color: black !important;
}

.class-icon {
  height: 1.7rem;
  width: 1.7rem;
}

.raid-icon {
  height: 1.7rem;
  width: 1.7rem;
}

.stretched-link {
  color: inherit;
}

.stretched-link:hover {
  color: white;
}

.dropdown-divider {
  opacity: 1;
  color: #373b3e;
}

.social-link {
  color: #6c757d;
}

.social-link:hover {
  color: white;
}