:root {
  --pink: #BF1D90;
  --pink-light: #E77FC9;
  --pink-dark: #93166F;
  --pink-darkest: #670F4E;
  --teal: #09B0B2;
}

/* PDH Styles */
.text-pdh {
  color: var(--pink-dark);
}

/* Navbar */
.pdh-navbar {
  background-color: rgba(0, 0, 0, 0.0) !important;
}

.dropdown-item:focus, .dropdown-item:hover {
  color: #ffffff !important;
  background-color: var(--pink-dark);
}

/* Login Page */
.form-signin {
  width: 100%;
  max-width: 360px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin .form-control {
  padding: 10px;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-pdh {
  color: #fff;
  background-color: var(--pink-dark);
  border-color: var(--pink-dark);
}

.btn-pdh:hover {
  color: #fff;
  background-color: var(--pink-darkest);
  border-color: var(--pink-darkest);
}

.btn-pdh.focus, .btn-pdh:focus {
  box-shadow: 0 0 0 0.2rem rgb(147 22 111 / 50%);
}

/* Home page */
.home-page-img:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  display: block;
  width: 100%;
  height: 100%;
  background-image: url('../images/burning-crusade-2.png');
  background-size: cover;
  background-position: center;
  filter: opacity(0.6) grayscale(20%);
}

.welcome-name {
  font-weight: 700;
}

.page-link {
  color: #6c757d;
  background-color: black;
  border: 1px solid #373b3e;
}

.page-link:hover {
  color: white;
  background-color: var(--pink-dark);
  border: 1px solid #373b3e;
}

.table-pdh thead {
  background-color: #212529;
  border: 1px solid #373b3e;
}

.table-pdh {
  /*--bs-table-bg: black; */
  --bs-table-striped-bg: #212529;
  --bs-table-striped-color: #6c757d;
  --bs-table-active-bg: var(--pink-dark);
  --bs-table-active-color: white;
  --bs-table-hover-bg: var(--pink-dark);
  --bs-table-hover-color: white;
  color: #6c757d;
  border: 1px solid #373b3e;
}

.bg-black {
  background-color: black !important;
}

.class-icon {
  height: 1.7rem;
  width: 1.7rem;
}

.raid-icon {
  height: 1.7rem;
  width: 1.7rem;
}

.stretched-link {
  color: inherit;
}

.stretched-link:hover {
  color: white;
}

.dropdown-divider {
  opacity: 1;
  color: #373b3e;
}

.social-link {
  color: #6c757d;
}

.social-link:hover {
  color: white;
}

.form-select {
  border-color: #373b3e;
}

.form-select:focus {
  border-color: var(--pink-dark);
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(147 22 111 / 25%);
}

.valid-wishlist-item {
  background-color: var(--pink-dark);
  border-color: var(--pink-dark);
}

.wishlist-card {
  flex-direction: row;
  border: 1px solid #373b3e;
}

.wishlist-card-selected {
  border: 1px solid #198754;
}

.wishlist-header {
  min-width: 4rem;
  padding-top: 1.3rem;
  background-color: #373b3e;
  border-radius: calc(.25rem - 1px) 0 0 calc(.25rem - 1px) !important;
  padding: none;
  border: 1px solid #373b3e;
}

.wishlist-header-selected {
  background-color: #198754;
  border: 1px solid #198754;
}

.accordion-button {
  padding: 0.5rem 1.25rem;
}

.accordion-body {
  padding: 1rem 0;
}

.modal-content {
  border-color: #373b3e;
}

.modal-header {
  border-color: #373b3e;
}

.modal-footer {
  border: none;
}

.border-black {
  border-color: #373b3e !important;
}

.text-epic {
  color: purple;
}

.wishlist-text {
  margin: 0.2rem 0 0 1rem;
}

@media only screen and (max-width: 576px) {
  .wishlist-text {
    max-width: 10rem;
  }

  .wishlist-text-select {
    max-width: 12rem;
  }
}

.wishlist-text-select {
  min-height: 2.2rem;
}

.item-icon {
  height: 2rem;
  width: 2rem;
}

.list-group-item:focus, .list-group-item:hover {
  cursor: pointer;
  background-color: var(--pink-dark) !important;
  color: white !important;
}

.selected-item-icon {
  height: 2.2rem;
  width: 2.2rem;
}

.list-group-flush:first-child .list-group-item:first-child {
  border-top-width: 1px;
}

.list-group-flush:last-child .list-group-item:last-child {
  border-bottom-width: 1px;
}